In [1]:
import pandas as pd
import re
pd.options.display.max_colwidth = 100

In [2]:
dracula_file = 'dracula.txt'

dracula_df = pd.read_csv(dracula_file, sep='\n', header=None)
dracula_df.columns = ['text']
dracula_df.head()

                                               text
0                                           DRACULA
1                                           DRACULA
2                                              _by_
3                                       Bram Stoker
4                          [Illustration: colophon]

In [4]:
p = '(?:vampire)(\s*\w{3,})'
dracula_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

 sleep      3
 meant      1
 baptism    1
 live       1
 was        1
\r\nwhen    1
 which      1
 can        1
 coming     1
 kind       1
Name: 0, dtype: int64