In [1]:
# import pandas as pd
import pandas as pd

# File to Load
station_data_to_load = "CTA_list_of_L_stops.csv"
ridership_data_to_load = "CTA_ridership_daily_totals.csv"

# Read School and Student Data File and store into Pandas DataFrames
l_station_df = pd.read_csv(station_data_to_load)
ridership_df = pd.read_csv(ridership_data_to_load)

# Present dataframe
l_station_df.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
1,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
2,30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
3,30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
4,30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)"

In [2]:
unique_df = pd.Series(l_station_df['MAP_ID'].unique())
unique_df

0      40830
1      40120
2      41120
3      41270
4      40130
       ...
138    40220
139    41690
140    40540
141    41700
142    41240
Length: 143, dtype: int64

In [3]:
df = pd.merge(ridership_df, l_station_df, how='left', left_on='station_id', right_on ='MAP_ID')
df

,station_id,STATION_NAME_x,date,daytype,rides,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME_y,STATION_DESCRIPTIVE_NAME,...,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,40050,Davis,1/1/2016,U,1415,30011.0,S,Davis (Howard-Loop-bound),Davis,Davis (Purple Line),...,False,False,False,False,True,True,False,False,False,"(42.04771, -87.683543)"
1,40050,Davis,1/1/2016,U,1415,30010.0,N,Davis (Linden-bound),Davis,Davis (Purple Line),...,False,False,False,False,True,True,False,False,False,"(42.04771, -87.683543)"
2,41200,Argyle,1/1/2016,U,1741,30230.0,S,Argyle (95th-bound),Argyle,Argyle (Red Line),...,True,False,False,False,False,False,False,False,False,"(41.973453, -87.65853)"
3,41200,Argyle,1/1/2016,U,1741,30229.0,N,Argyle (Howard-bound),Argyle,Argyle (Red Line),...,True,False,False,False,False,False,False,False,False,"(41.973453, -87.65853)"
4,40970,Cicero-Forest Park,1/1/2016,U,722,30188.0,W,Cicero (Forest Pk-bound),Cicero,Cicero (Blue Line),...,False,True,False,False,False,False,False,False,False,"(41.871574, -87.745154)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539498,41680,Oakton-Skokie,11/30/2020,W,191,30298.0,S,Oakton-Skokie (Howard-bound),Oakton-Skokie,Oakton-Skokie (Yellow Line),...,False,False,False,False,False,False,True,False,False,"(42.02624348, -87.74722084)"
539499,41690,Cermak-McCormick Place,11/30/2020,W,373,30381.0,N,Cermak-McCormick Place (Harlem-bound),Cermak-McCormick Place,Cermak-McCormick Place (Green Line),...,False,False,True,False,False,False,False,False,False,"(41.853115, -87.626402)"
539500,41690,Cermak-McCormick Place,11/30/2020,W,373,30382.0,S,Cermak-McCormick Place (63rd-bound),Cermak-McCormick Place,Cermak-McCormick Place (Green Line),...,False,False,True,False,False,False,False,False,False,"(41.853115, -87.626402)"
539501,41700,Washington/Wabash,11/30/2020,W,2041,30384.0,S,Washington/Wabash (Inner Loop),Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",...,False,False,True,False,False,True,False,True,True,"(41.88322, -87.626189)"
539502,41700,Washington/Wabash,11/30/2020,W,2041,30383.0,N,Washington/Wabash (Outer Loop),Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",...,False,False,True,True,False,False,False,False,False,"(41.88322, -87.626189)"

In [9]:
df[df['Location'] < '(41.881)']['rides'].drop_duplicates

<bound method Series.drop_duplicates of 4          722
5          722
8          764
9          764
17         586
          ...
539478    1168
539487     486
539488     486
539499     373
539500     373
Name: rides, Length: 222704, dtype: int64>

In [5]:
df[df['DIRECTION_ID'] == 'S']['rides'].sum()

745485374